.FancyBorder {
    padding: 5px 5px;
    border: 10px solid;
  }
  
  .FancyBorder-blue {
    border-color: rgb(1, 8, 66);
  }
  
  .Dialog-title {
    margin: 0;
    font-family: sans-serif;
  }
  
  .Dialog-message {
    font-size: larger;
  }

  html, body, #root {
    width: 100%;
    height: 100%;
  }
  
  .SplitPane {
    width: 100%;
    height: 100%;
  }
  
  .SplitPane-left {
    float: left;
    width: 30%;
    height: 100%;
  }
  
  .SplitPane-right {
    float: left;
    width: 70%;
    height: 100%;
  }
  
  .Contacts {
    width: 100%;
    height: 100%; 
    background: lightblue;
  }
  
  .Chat {
    width: 100%;
    height: 100%; 
    background: pink;
  }
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  